<div class="center hero-unit">
	<h1>Welcome to the Daily Report System</h1>

	<h2> This is the home page for the </h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("framgia.png", alt: "framgia"), 'http://framgia.com/vn/company/vn/index.html' %>