<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email%>
        <%= Activation.find_by_user_id(@user.id)%>
      </h1>
    </section>
  </aside>
</div>