<li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <%= link_to "Reports", new_catalog_path %>
        </li>
        <li>
            <%= link_to "Users", users_path%>
        </li>
    </ul>
</li>